h2{
    background-color: rgba(26, 8, 10, 0.603);
    padding: 20px 35px;
    margin: -10px -50px;
    text-align:center;
    color: white;
    border-radius: 10px 10px 0 0;
    }
    hr{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.877);
    margin-bottom: 40px;
    }
    div.container{
    width: 900px;
    align-items: center;
    height: 610px;
    margin-left:400px;
    font-family: 'Raleway', sans-serif;
    }
    .full-page
{
    height: 120%;
	width: 100%;
	background-image:url("https://t4.ftcdn.net/jpg/02/55/77/03/360_F_255770374_rbmJO9gkkIhMBcyVPc3iW016BCLDvcWc.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
}
	div.main{
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid rgb(128, 128, 128);
    border-radius: 10px;
    font-family: raleway;
    float:left;
    margin-top:50px;
    }
    input[type=text],input[type=username]{
        width: 100%;
        height: 40px;
        padding: 5px;
        margin-bottom: 25px;
        margin-top: 5px;
        border: 2px solid rgb(192, 62, 62);
        color: #4f4f4f;
        font-size: 16px;
        border-radius: 5px;
        }
        label1{
            color:black;
            text-shadow: 0 1px 0 rgb(161, 124, 124);
            font-size: 14px;
            font-weight: bold;
            padding-top: 25;
            }
    input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    }
    label{
    color:black;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 25;
    }
    center{
    font-size:32px;
    }
    .note{
    color:red;
    }
    .valid{
    color:green;
    }
    .back{
    text-decoration: none;
    border: 1px solid rgb(0, 143, 255);
    background-color: rgb(0, 214, 255);
    padding: 3px 20px;
    border-radius: 2px;
    color: black;
    }
    input[type=button]{
    font-size: 16px;
    background-color: darkgray;
    color: white;
    /* border: 1px solid #e5a900; */
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    }
    input[type=button]:hover{
    background-color: gray;
    color: white;
    }
    .form_id{
        align-content: center;
        /* margin-left: 200px; */
        /* padding-left: 200%; */
    }
    h1{
        color: white;
        background-color: black;
        width: 100px;
    }